<AuthorizeView>
    <li class="nav-item mt-5">
        <a class="nav-link" href="javascript:nv('app/home')">
            <i class="modal-dialog mdi-home menu-icon"></i>
            <span class="menu-title">Home</span>

        </a>

    </li>
</AuthorizeView>
<AuthorizeView Policy="AdministrationPolicy">

    @if(CanManageUser)
    {
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#expand-user" aria-expanded="false">
                <i class="mdi mdi-account-settings menu-icon fs-4"></i>
                <span class="menu-title">User Management</span>
                <i class="menu-arrow"></i>

            </a>
            <div class="collapse" id="expand-user">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:nv('administration/account/create-user')">
                            Admin

                        </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:nv('administration/account/create-user')">
                            Admin

                        </a>

                    </li>

                </ul>

            </div>

        </li>
    }
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#expand-product" aria-expanded="false">
            <i class="mdi mdi-cube menu-icon fs-4"></i>
            <span class="menu-title">Product Management</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="expand-product">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:nv('app/products/manage',1500)">
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:nv('app/products/category/manage',700)">
                        Categories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:nv('app/products/location/manage',700)">
                        Locations
                    </a>
                </li>

            </ul>

        </div>

    </li>
    @*Admin Orders*@
    <li class="nav-item">
        <a class="nav-link" href="javascript:nv('app/administration/products/orders',2000)">
            <i class="mdi mdi-cube-unfolded menu-icon"></i>
            <span class="menu-title">Orders</span>
        </a>
    </li>
</AuthorizeView>
<AuthorizeView Policy="@Policy.UserPolicy">
    @*Client Orders*@
    <li class="nav-item">
        <a class="nav-link" href="javascript:nv('app/products/orders',2000)">
            <i class="mdi mdi-cube-unfolded menu-icon"></i>
            <span class="menu-title">My Orders</span>
        </a>
    </li>
</AuthorizeView>
<AuthorizeView>
    <MudBlazor.MudDivider Class="mt-5"/>
    <li class="nav-item sidebar-actions">
        <div class="nav-link">
            <div>
                <div class="border-none">
                    <p class="text-black">
                        System Info
                    </p>
                </div>
                <ul class="mt-4 pl-0" >
                    <li>
                        <a >
                            Version 1.0.0
                        </a>
                    </li>

                </ul>
            </div>

        </div>

    </li>

</AuthorizeView>

@code {
    [CascadingParameter] public Task<AuthenticationState>? myState { get; set; }

    bool CanManageUser=false;
    protected override async Task OnInitializedAsync()
    {
        CanManageUser = customAuthorizationService.CustomClaimChecker((await myState!).User, DefaultClaims.ManageUser);
    }
}
